:root {
	--wptoc-text-color: #333333;
	--wptoc-border-color: #ededed;
	--wptoc-background-color: #f8f9fb;
	--wptoc-link-color: #39383a;
	--wptoc-link-hover-color: #39383a;
	--wptoc-link-hover-background-color: #c9c9c9;
	--wptoc-toggler-color: #333333;
	--wptoc-toggler-border-color: #999191;
	--wptoc-toggler-active-color: #333333;
	--wptoc-counter-color: #adadad;
	--wptoc-padding: 10px 16px 10px 16px;
	--wptoc-title-padding: 0px 0px 10px 0px;
	--wptoc-content-padding: 0px;
	--wptoc-space-minus: 10px;
	--wptoc-border-width: 1px;
	--wptoc-border-radius: 5px;
	--wptoc-font-size: 17px;
	--wptoc-font-weight: 600;
	--wptoc-line-height: 1.1;
	--wptoc-tablet-font-size: 2%;
	--wptoc-mobile-font-size: 2%;
	--wptoc-title-font-size: 15px;
	--wptoc-title-font-weight: 700;
	--wptoc-title-line-height: 2.0;
	--wptoc-tablet-title-font-size: 7%;
	--wptoc-mobile-title-font-size: 5%;
	--wptoc-link-padding: 4px 10px 4px 18px;
	--wptoc-toggler-padding: 0px;
	--wptoc-toggler-border-width: 0px;
	--wptoc-toggler-border-radius: 5px;
}

.wptoc {
	border-style: solid;
	padding: var(--wptoc-padding);
	color: var(--wptoc-text-color);
	font-size: var(--wptoc-font-size);
	border-width: var(--wptoc-border-width);
	border-color: var(--wptoc-border-color);
	border-radius: var(--wptoc-border-radius);
	background: var(--wptoc-background-color);

	@media only screen and (max-width: 800px) {
		font-size: calc(var(--wptoc-title-font-size) - var(--wptoc-tablet-font-size));
	}

	@media only screen and (max-width: 575px) {
		font-size: calc(var(--wptoc-title-font-size) - var(--wptoc-mobile-font-size));
	}

	&__header {
		display: flex;
		cursor: pointer;
		align-items: center;
		justify-content: space-between;
		padding: var(--wptoc-title-padding);	
		transition: margin-bottom 0.5s ease-out;
	}

	.wptoc {

		&__title {
			margin: 0 !important;
			padding: 0 !important;
			color: var(--wptoc-text-color);
			font-weight: var(--wptoc-title-font-weight);
			line-height: var(--wptoc-title-line-height);
			font-size: var(--wptoc-title-font-size) !important;

			@media only screen and (max-width: 800px) {
				font-size: calc(var(--wptoc-title-font-size) - var(--wptoc-tablet-title-font-size)) !important;
			}

			@media only screen and (max-width: 575px) {
				font-size: calc(var(--wptoc-title-font-size) - var(--wptoc-mobile-title-font-size)) !important;
			}
		}
	}

	&__toggler {
	    display: flex;
	    cursor: pointer;
	    margin-left: auto;
	    text-align: center;
	    align-items: center;
	    justify-content: center;
	    border-style: solid;
	    transition: all 0.3s ease;
	    padding: var(--wptoc-toggler-padding);
	    border-width: var(--wptoc-toggler-border-width);
	    border-color: var(--wptoc-toggler-border-color);
	    border-radius: var(--wptoc-toggler-border-radius);
	    background: var(--wptoc-toggler-background-color);

		.qicon {
			width: 15px;
			height: 15px;
			position: relative;

	    	&:before, &:after {
			    content: "";
		        height: 2px;
		        display: block;
		        width: 0.625em;
		        position: absolute;
		        top: calc(50% - 2px/3);
			    background: var(--wptoc-toggler-color);
		        transition: transform .15s ease-in-out;
	    	}

	    	&:before {
			    right: 5.5px;
			    transform: rotate(45deg);
			}

			&:after {
			    left: 5.5px;
			    transform: rotate(-45deg);
			}
		}

	    &--active {
	    	background: var(--wptoc-toggler-active-background-color);
	    	border-color: var(--wptoc-toggler-active-background-color);

	    	.qicon {

		    	&:before, &:after {
		    		background: var(--wptoc-toggler-active-color);
		    	}

		    	&:before {
		    	    transform: rotate(-45deg);
		    	}

		    	&:after {
		    	    transform: rotate(45deg);
		    	}
	    	}
	    }

	    @media only screen and (max-width: 575px) {
	    	width: 30px;
	    	height: 30px;
	    	font-size: 14px;
	    	line-height: 30px;
	    }
	}

	&__content {
	    opacity: 1;
	    overflow: hidden;
	    max-height: auto;
	    visibility: visible;
	    padding: var(--wptoc-content-padding);
	    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;

		&--hide {
			opacity: 0;
			max-height: 0;
			visibility: hidden;
		}

		&--show {
			opacity: 1;
			max-height: auto;
			visibility: visible;
		}
	}

	&__lists {
		margin: 0 !important;
	    padding: 0 !important;
	    list-style: none !important;
	    counter-reset: wptoccounter;

		li {
		    margin-bottom: 7px;
			position: relative;
			list-style: none !important;

			a {
				display: block;
				box-shadow: none;
				position: relative;
				border-radius: 3px;
				transition: all 0.3s ease;
				padding: var(--wptoc-link-padding);
				text-decoration: none !important;
				line-height: var(--wptoc-line-height);
				font-weight: var(--wptoc-font-weight);
				color: var(--wptoc-link-color) !important;

				em, strong {
				    font-style: normal !important;
				    text-decoration: none !important;
				    font-weight: var(--wptoc-font-weight) !important;
				}

				&:before {
					counter-increment: wptoccounter;
					color: var(--wptoc-counter-color);
					content: counters(wptoccounter, ".") ". ";
				}

				&:hover {
					color: var(--wptoc-link-hover-color) !important;
					background: var(--wptoc-link-hover-background-color) !important;
				}
			}

			ul, ol {
				margin: 2px 0 0 14px !important;
			}
		}
	}
}